@font-face {
    font-family: 'Sen-regular';
    src: url('font_family/Sen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sen-bold';
    src: url('font_family/Sen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sen-extra-bold';
    src: url('font_family/Sen-ExtraBold.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    font-family: 'Sen-regular','sans-serif';
}

.grey{
    background-color: #eee;
}

.Line{
    width: 75px;
    height: 0px;
    opacity: 0.74;
    border: 2px solid #000000;
    transform: rotate(-180deg);
}

.Chronological_ellipse{
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius:100%
}

footer{
    background-color: #333;
    color:white;
}

.img_footer{
    height: 30px;
    width: 30px;
}

#who_i_am{
    background-color: #D0D0D0;
}

h1{
    position: absolute;
    left: 39.74%;
    right: 39.79%;
    top: 3.08%;
    bottom: 96.59%;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* leading-trim and text-edge are draft CSS properties.
    
    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    
    color: #FFFFFF;
}

h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-decoration-line: underline;

    color: #000080;
}

h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #629E4D;
}

h5{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FF0000;
}

.formation_img{
    width:200px;
    height:auto;
}