@font-face {
    font-family: 'Sen-regular';
    src: url('../font_family/Sen-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sen-regular', 'sans-serif';
}

header {
    height: 75px;
    background-color: cornflowerblue;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #FFFFFF;

    padding: 0 32px;

    @media (max-width: 600px) {
        padding: 0 16px;
    }
}

.container-img {
    width: 64px;
    height: 64px;

    border-radius: 100px;
    overflow: hidden;
}

.img-lucas {
    border-radius: 100px;
    width: 48px;
    height: 48px;

    object-position: 50%;
    object-fit: contain;

    @media (max-width: 600px) {
        display: none;
    }
}

.container-link {
    display: flex;
    gap: 8px;
}

.container-link a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.container-link a ion-icon {
    fill: #FFFFFF;
    font-size: 32px;
}

.container {
    padding: 4rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    border-radius: 8px;
    padding: 12px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card--entete {
    margin-bottom: 8px;
}

.card--body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.card--body__entete {
    display: flex;
    flex-direction: column;
}

.card--body__title {
    text-align: center;
    margin-bottom: 12px;
}

.card--body__description {
    margin-bottom: 12px;
}

.card--body__container {
    display: flex;
    gap: 8px;
}

.card--body__btn {
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
    border: none;
    color: #fff;
    background-color: cornflowerblue;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-decoration: none;
}

.link-outline {
    fill: #FFFFFF;
    font-size: 24px;
}

.card--body__btn.github {
    background-color: #111;
}

.icon-github {
    font-size: 24px;
}

.card--body__btn:hover {
    filter: brightness(0.9);
}

.img-fluid {
    width: 100%;
}